@import "reset";
@import "constants";

@fence-height:50px;
@view-margin : 5px;
@font-sizeOne:16px;
@font-sizeTwo:13px;
.fence{
  background-color: white;
  border-bottom: 1px solid gainsboro;
}


#list{
  height: @fence-height;

  > li{
    margin-top: @view-margin;
    float: left;
    border-right: 1px solid gainsboro;
    text-align: center;
    &:last-child{
      border-right:0px;
    }
  }
}

.fenceTitle{
  color: darkgray;
  font-size: @font-sizeOne;
}

.fenceDes{
  color: gray;
  font-size: @font-sizeTwo;
}