@import "reset";
@import "constants";

body{
  background-color: ghostwhite;
  margin-bottom: 67px;
}


.jifenmarketRowItem{
  margin: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  height: 100px;
  position: relative;
}

.jifenmarketItemImageDiv{
  margin-left: 20px;
  display:inline-block;
  height: 100px;
}

.jifenmarketItemImage{
  margin-top: 10px;
  height: 80px;
  width: 80px;
}

.jifenmarketlabelDiv {
  margin-left: 15px;
  display: inline-block;
}

.jifenmarketrowTitle{
  display: block;
  font-size: 16px;
  color: black;
}

.jifenmarketrowSubTitle{
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: gray;
}

.jifenmarketMark{
  margin-top: 20px;
  display: block;
}

.jifenmarketItemLinkImageDiv{
  position: absolute;
  right: 0;
  bottom: 0;
  display:inline-block;
  vertical-align:middle;
}

.jifenmarketItemLinkImage{
  width: 30px;
}
